

p {
    color: yellow;
}

p:first-child {
    color: blue
}

p:last-child {
color: red;
}

/* tevas  */
h1 p:first-child {
    color: green;
}


li {
    color:brown;
}

li:first-child {
    color: rgb(0, 0, 0);
}

li:last-child {
    visibility: collapse;
}