*{box-sizing: border-box;}

// @media only screen and (max-width: 600px) and (min-width: 400px)
// @media only screen and (max-width: 1200px)
// .body. {
//     width: 70%; !important;
//     height: auto;

// }



body{
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 1.5em;
    color: #2a2928;
    margin: 0;
}
// ___________________________________________MOB
.navigation{
    margin: 0;
    padding: 0;

}
#menuMob {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 31;
    user-select: none;
  }
  
  #menuMob a {
    text-decoration: none;
    color: #232323;
  
    transition: color 0.3s ease;
  }
  
  #menuMob a:hover {
    color: tomato;
  }
  
  #menuMob input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2; 
    -webkit-touch-callout: none;
  }
 
  #menuMob span {
    display: block;
    width: 33px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
  
    background: #cdcdcd;
    border-radius: 3px;
  
    z-index: 1;
  
    transform-origin: 4px 0px;
  
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  
  #menuMob span span .line2{
    top: calc(50% - 1px);
  }


  #menuMob span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuMob span:nth-last-child(2) {
    transform-origin: 0% 100%;
    
  }

  #menuMob input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  #menuMob input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
 
  #menuMob input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
     transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    
  }
  
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  
  #menuMob input:checked ~ ul {
    transform: none;
  }

  #menuMob {
    display: none;
}

@media (max-width: 900px){
    #menuMob {
  display: block;
  position: absolute;
    }
}


/* ISOKANCIO MENIU SPALVA */

.virsus {
    width: 100%;
    height: auto;
    margin: 0 auto;
    transition: all 300ms cubic-bezier(0, 0, 0.25, 1);
    background-color:transparent;
    position:absolute;
    top: 0px;
}    

.virsus:hover {
    
    background-color:rgb(255, 255, 255);
    z-index: 30;
    position: fixed;
} 

@media (max-width: 900px){
    .virsus:hover  {
  display: none;
    }
}

.virus::after {
    content: "";
    display: table;
    clear: both;
}
/* END ISOKANCIO MENIU SPALVA */
/* UL IR LI APRASYMAS, LOGO aprasymas */


.ulas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 26px 5px;
}    

.ulas ul {
    list-style: none;
    text-align: left;
    display: inline-block;
    height: 100%;
    width: 100%;

}

li {
    font-size: 20px;
    float: left;
    padding: 0px 10.5px;
    
}
li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.virsus:hover ul a{
    color: black;
}


.ulas::after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 900px){
    .ulas ul {
  display: none;
    }
}

.logo{
    width: 115px;
    height: auto;
    margin: 0 auto;
    padding: 42px 15px;
}

.logo img{
    width: 115px;
    height: auto;
    /* z-index: 5; */
    
}
.logo .imgB{
    display: none;
}

.virsus:hover .imgB {
    display:inline-block;
}

.virsus:hover .imgW {
    display:none;
}


.logo::after {
    content: "";
    display: table;
    clear: both;
}
/* END UL'AI IR LI APRASYMAS, Logo aprasymas */

/* ICONELES  */

.icon {
    position: absolute;
    top: 10px;
    width: 100%;
    
}    

.icon img {
    width: 24px;
    height: 24px;
    list-style: none;
    text-align:right;
    display: inline-block;
}


.user1 {
    position:absolute;
    margin: 20px;
    float: right;
    vertical-align: top;
    top: 9px;
    left: 87%;
    z-index: 10;
}
.virsus:hover .user1 img{
    display: none;
    z-index: 8;
}

.user2 {
    position:absolute;
    margin: 20px;
    float: right;
    vertical-align: top;
    top: 9px;
    left: 87%;
    z-index: 9 ;
}

.icon .searsh1 {
    position:absolute;
    margin: 20px;
    float: right;
    vertical-align: top;
    top: 9px;
    left: 90%;
    z-index: 10;
}
.virsus:hover .searsh1 img{
    display: none;
    z-index: 8;
}

.icon .searsh2 {
    position:absolute;
    margin: 20px;
    float: right;
    vertical-align: top;
    top: 9.136px;
    left: 89.95%;
    z-index: 9 ;
}

.icon .cart1 {
    position:absolute;
    margin: 20px;
    float: right;
    vertical-align: top;
    top: 6px;
    left: 93%;
    z-index: 10;
}

.virsus:hover .cart1 img{
    display: none;
    z-index: 8;
}
.icon .cart2 {
    position:absolute;
    margin: 20px;
    float: right;
    vertical-align: top;
    top: 6px;
    left: 93%;
    z-index: 9 ;
}
.cart1 img{
    width: 29px;
    height: 29px;
}
.cart2 img{
    width: 29px;
    height: 29px;
}

.icon::after {
    content: "";
    display: table;
    clear: both;
}


/* END'AS IKONELES */

/* DIDELES NUOTRAUKAS */


.bigfotosss{
    width: 100%;
    height: auto;
    margin: 0 auto;
}



.col{
width: 100%;
height: auto;
    
}

.col img{
    width: 50%;
    height: auto;
    float: left;
}

@media (max-width: 900px){
    .col img{
        width: 100%;
        height: auto;
    }
}

.textas_col{
    position: absolute;
    top:20%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;

}

@media (max-width: 900px){
    .textas_col {
        width: 100%;
        height: auto;
        top: 50%;
    }
}


.tekstasB1{
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: inline-block;
    position: absolute;

}
@media (max-width: 900px){
    .tekstasB1{
    display:none;
    }
}
@media (max-width: 900px){
    .bigfotosss .STB {
    display:none;
    }
}


.tekstasB2{
    width: 50%;
    height: auto;
    margin: 0 auto;
    float: left;
    position: absolute;
}

@media (max-width: 900px){
    .tekstasB2{
        width: 100%;
        height: auto;
        margin: 0 auto;

    }
}


.col::after {
    content: "";
    display: table;
    clear: both;
}



/* tesktas */




.tekstasB1{
    color: rgb(250, 255, 248);
    letter-spacing: 0.05em;
    text-align: center;

}


.tekstasB2{
    color: rgb(255, 255, 255);
    letter-spacing: 0.05em;
    text-align: center;

}
.tekstasB1 span{

    border-radius: 100px;
    padding: 14px 28px;
    border: 2px solid floralwhite;
    font-size: 0.875em;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: 0.08em;
    cursor: pointer;

}

.tekstasB2 span{

    border-radius: 100px;
    padding: 14px 28px;
    border: 2px solid floralwhite;
    font-size: 0.875em;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: 0.08em;
    cursor: pointer;

}

.tekstasB1 span:hover {

    border-radius: 100px;
    padding: 14px 28px;
    border: 2px solid floralwhite;
    background:#ff7c24;
    font-size: 0.875em;
    line-height: 1.5em;
    letter-spacing: 0.08em;
    

}

.tekstasB2 span:hover {

    border-radius: 100px;
    padding: 14px 28px;
    border: 2px solid floralwhite;
    background:#ff7c24;
    font-size: 0.875em;
    line-height: 1.5em;
    letter-spacing: 0.08em;
    

}

/* PREKES PIRMAS BLOKAS */

.Pav_prekes{
    margin: 80px;


}
.Pav_prekes a{
text-decoration: none;
color: #2a2928;
font-family: Montserrat, sans-serif;
font-size: 26.25px;
line-height: 1.2;
}

/* PIRMOS TRYS PREKES */

.prekes{
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: calc(100% - 40px * 2);
}


.prekes img{
    display: block;
    width: 100%;
    height: auto;
}

.CC {
    position: relative;
    width: 33.3333%;
    height: auto;
    float: left;
}
/* keiciasi foto uzejus ant jos */
.CC .img-top{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width:100%;
  height: auto;
  opacity: 0;   
}
.CC:hover .img-top{
    position: absolute;
    opacity: 1;
    z-index: 8;
}
/* ENDAS keiciasi foto uzejus ant jos */

.CM{
    position: relative;
    width: 33.3333%;
    height: auto;
    float: left;
}

/* keiciasi foto uzejus ant jos */
.CM .img-top{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: auto;
    opacity: 0;   
  }
  .CM:hover .img-top{
      position: absolute;
      opacity: 1;
      z-index: 8;
  }
  /* ENDAS keiciasi foto uzejus ant jos */

.NN{
    position: relative;
    width: 33.3333%;
    height: auto;
    float: left;
}

/* keiciasi foto uzejus ant jos */
.NN .img-top{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: auto;
    opacity: 0;   
  }
  .NN:hover .img-top{
      position: absolute;
      opacity: 1;
      z-index: 8;
  }
  /* ENDAS keiciasi foto uzejus ant jos */

.prekes span {
    position: absolute;
    padding: 3px 8px 2px;
    font-size: 0.6875em;
    line-height: 1.4em;
    letter-spacing: 0.1em;
    background: #a94400;
    color: white;
    top: 10px;
    left: 0;
    z-index: 10;
    
}


.prekes p {
    height: 44px;
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
}


.de{
    opacity: 0.5;
}
span.red {
    background: #ac353b;
    top: 10px;
    z-index: 10;
}

.prekes::after {
    content: "";
    display: table;
    clear: both;
}


/* ANTRA PREKIU GRUOPE */

.prekes2 {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: calc(100% - 40px * 2);
}

.Pav_prekes2{
    margin: 80px 0 50px;

}

.Pav_prekes2 a{
    color: #2a2928;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    font-size: 26.25px;
    line-height: 1.2;
}

/* PREKES 2 grupe */

.prekes2 img{
    display: block;
    width: 100%;
    height: auto;
    
  
}

.CCC {
    position: relative;
    width: 33.3333%;
    height: auto;
    float: left;
    
}
/* keiciasi foto uzejus ant jos */
.CCC .img-top{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: auto;
    opacity: 0;   
  }
  .CCC:hover .img-top{
      position: absolute;
      opacity: 1;
      z-index: 8;
  }
  /* ENDAS keiciasi foto uzejus ant jos */


.CMM{
    position: relative;
    width: 33.3333%;
    height: auto;
    float: left;
}
/* keiciasi foto uzejus ant jos */
.CMM .img-top{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: auto;
    opacity: 0;   
  }
  .CMM:hover .img-top{
      position: absolute;
      opacity: 1;
      z-index: 8;
  }
  /* ENDAS keiciasi foto uzejus ant jos */


.NNN{
    position: relative;
    width: 33.3333%;
    height: auto;
    float: left;
}

/* keiciasi foto uzejus ant jos */
.NNN .img-top{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: auto;
    opacity: 0;   
  }
  .NNN:hover .img-top{
      position: absolute;
      opacity: 1;
      z-index: 8;
  }
  /* ENDAS keiciasi foto uzejus ant jos */

.prekes2 span {
    position: absolute;
    padding: 3px 8px 2px;
    font-size: 0.6875em;
    line-height: 1.4em;
    letter-spacing: 0.1em;
    background: #a94400;
    color: white;
    left: 0;
    
}

.prekes2 p {
    height: 44px;
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
}

span.rudas {
    background: #25110e;
    z-index: 10;
}

.prekes2::after {
    content: "";
    display: table;
    clear: both;
}

/* FOTO APACIA */

.slide_apacia{
    letter-spacing: -.31em;
    width: 100%;
}

.slide_apacia .colum {
width: 100%;

}




.slide_apacia img{
    width: 50%;
    height: auto;
    float:left ;

}

.slide_apacia::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.tekstas_all {
    width: calc(50% - 40px);
    margin-left: 50%;
    padding: 120px;
    position:absolute;
    color:#ff7c24;
    letter-spacing: 0.05em;
    text-align: center;
    z-index: 20;
}
@media (max-width: 1200px){
    .tekstas_all{
        padding-top: 150px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 900px){
    .tekstas_all{
        width: calc(50% - 40px);
        padding-top: 5%;
        padding-left: 2px;
        padding-right: 2px;
    }
}

@media (max-width: 700px){
    .tekstas_all{
        width: calc(50% - 40px);
        padding-top: 5%;
        padding-left: 2px;
        padding-right: 2px;
    }
}


.tekstas_all span{
    font-size: 1.75em;
}

.tekstas_all a{
    text-decoration: none;
    letter-spacing: 0.08em;
    font-size: 0.875em;
    border-bottom: 2px solid;
}

.tekstas_all::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* ENDAS TEXTAS */

/* feedback */

.feedback{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 0.875em;
    letter-spacing: 0.08em;
    line-height: 1.2;
}

.feedback_turinys2 img{

    width: 120px;

}
.feedback_turinys2 p{
    
    font-size: 1.75em;
    text-align: center;
}


.box3 {
    text-align: center;
    width: 100%;
    padding: 10px;

}

.brend {
	width: 30%;
    height: auto;
    margin-right: 10px; 
    float: left;
    
}

.brend2 {
    width: 30%;
    height: auto;
    float: left;
}

.brend3 {
    width: 30%;
    height: auto;
    margin-left: 10px; 
    float: left;
}

.box3::after {
    content: "";
    display: table;
    clear: both;
}

/* SLAIDERIS */

.baneris {
    
    width: 100%;
    height: auto;
      
}

.baneris .laik {
    width: 50%;
    height: auto;
    float: left;
}

.baneris .lek {
    width: 50%;
    height: auto;
    float: left;
}

.banertext {
    position:absolute;
    left:37%;
    color: rgb(255, 255, 255);
    letter-spacing: 0.05em;

}

.baneris span{
    position: absolute;
    color: rgb(255, 255, 255);
    margin: 160px auto;
    left: 45%;
    border-radius: 100px;
    padding: 14px 28px;
    border: 2px solid floralwhite;
    font-size: 0.875em;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: 0.08em;
    cursor: pointer;
}

.baneris span:hover {

    position: absolute;
    color: rgb(255, 255, 255);
 
    left: 45%;
    border-radius: 100px;
    padding: 14px 28px;
    border: 2px solid floralwhite;
    background:#ff7c24;
    font-size: 0.875em;
    line-height: 1.5em;
    letter-spacing: 0.08em;
}

.baneris::after {
    content: "";
    display: block;
    height: 0;
    clear: both;

}


/* ______________________________________________________________________ */

.Pav_prekes3{
    /* margin: 80px 0 50px; */
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    
    
}
.Pav_prekes3 a{
text-decoration: none;
color: #2a2928;
font-family: Montserrat, sans-serif;
font-size: 26.25px;
line-height: 1.2;
}

.prekes3 span{
    position: absolute;
    padding: 3px 8px 2px;
    font-size: 0.6875em;
    line-height: 1.4em;
    letter-spacing: 0.1em;
    background: #a94400;
    color: white;
    left: 0;
}

.prekes3{
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: calc(100% - 40px * 2);
}

.prekes3 img{
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.CC3 {
    position: relative;
    width: 48%;
    height: auto;
    float: left;
    margin-right: 2%; 
}
/* keiciasi foto uzejus ant jos */

.CC3 .img-top{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width:100%;
  height: auto;
  opacity: 0;   
}
.CC3:hover .img-top{
    position: absolute;
    opacity: 1;
    z-index: 8;
}

.NN3{
    position: relative;
    width: 48%;
    height: auto;
    float: left;
}
/* keiciasi foto uzejus ant jos */

.NN3 .img-top{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: auto;
    opacity: 0;   
}
.NN3:hover .img-top{
    position: absolute;
    opacity: 1;
    z-index: 8;
}

span.color {
    position: absolute;
    background: #25110e;;
    top: 10px;
    z-index: 10;
}

.prekes3:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.button{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    cursor: pointer;
}
.button a {
    background: #ff7c24;
    color: #ffffff;
    padding: 14px 28px;
    border-width: 2px;
    border-color: #ff7c24;
    vertical-align: top;
    border-radius: 100px;
    font-size: 0.875em;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.button a:hover {
    color:#ff7c24;
    border: 2px solid #ff7c24;
    border-color: #ff7c24;
    background:transparent;

}

.button:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

// ____________________________________________________


.box5 {
    width: 100%;
    height: 713px;
    padding-left: 40px ;
    padding-right: 40px ;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #ece9e7;

}

@media (max-width: 1100px){
    .box5 {
        width: 100%;
        height: auto;
        padding-left: center;
        padding-right:0;
        padding-top:0;
        padding-bottom:0;
        background-color: transparent;
    }
}
.boxkaire{
    width: 50%;
    height: 553px;
    background-color: #ffffff;
    float: left;


}

.boxdesine{
    width: 50%;
    height: 553px;
    background-color: #ffffff;
    float:right;

}

@media (max-width: 1100px){
    .boxkaire {
        float: none;
    }
}

@media (max-width: 1100px){
    .boxdesine {
        height: 100%;
        float: none;
        display: none;
    }
}


.boxDT{
padding: 80px;
margin-top: 25%;
text-align: center;
box-sizing: border-box;
        h2{
            font-size: 1.75em;
            margin: 0 0 1em;
            line-height: 1.2;
        }
        p{
            margin: 0 0 1em;
}
        a{  font-size: 0.875em;
            line-height: 1.5em;
            letter-spacing: 0.08em;
            text-decoration: none;
            color: #2a2928;
            border-bottom: 2px solid;
            -webkit-transition: all 250ms;
            transition: all 250ms;

}
}


.slider_img {
    width: 553px;
    height: 553px;
    overflow: hidden;
    position:absolute;
}

// @media (max-width: 1100px){
//     .slider_img {
        // width: auto;
        // overflow: hidden;
        // position: absolute;
        
//     }
// }

.slider_img img{
    width: 100%;
    height: auto;

}


.slider_img input{
    display: none;
}
.slider_img img{
    position: absolute;
    opacity:0;
    left: -900px;  
    transition: all 0.5s;
}

.slider_img input:checked + img{
    opacity:1;
    left: 0;
}

.rodykles{
    position: absolute;

}

.centr{
    width: 553px;
    height: auto;
    margin-top: 50%; 
}


.fa-angle-left {
padding: 0 200px 0 0;

}

.fa-angle-right{
    padding: 0 0 0 200px;
}



//  _____________________________________________________________________________


.Lookbook{
    width: 100%;
    height: auto;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    display: inline-block;
     a {
    text-decoration: none;
    color: #2a2828;
    font-family: Montserrat, sans-serif;
    font-size: 26.25px;
    line-height: 1.2;
    }
}


.lookbook2{

    width: 100%;
    height: auto;
    margin: 0 auto;

}


.deze {
    width: 48%;
    height: auto;
    margin: 20px 10px;
    background-color: #FAFAFA;
    float: left;
    overflow: hidden;
}

@media (max-width: 1100px){
    .deze  {
        width: 100%;
        height: auto;
        margin: 0;
        float: none;
    }
}
.zomimg{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}


.deze img{
        width: 100%;
        height:auto;
        transition: transform 0.8s;
        cursor: pointer;
        object-fit:fill;
        display: block;
        
    }

.deze img:hover{
    transform: scale(1.1);

    

}


.deze h1{
    cursor: pointer;
    transition: color 150ms, background-color 150ms, border-color 150ms;
}


.deze h1:hover{
    color: #ff7c24; 
}



.lookbook2_right{
    width: 48%;
    height: auto;
    margin: 20px 10px;
    background-color: #FAFAFA;
    float: left;
    padding-bottom: 20px;
}

@media (max-width: 1100px){
    .lookbook2_right  {
        width: 100%;
        height: auto;
        margin: 0;
        float: none;
    }
}

.dezeR {
    width: 100%;
    padding-bottom: 20px;
        img{
        width: 50%;
        height: auto;
        padding: 25px;
        float: left;
        // display:block;
        cursor: pointer;
        transition: transform 0.8s;
        } 
        
}

.dezeR img:hover{
    transform: scale(1.1);
}

.dezeR p{
    text-align: left;
}

.dezeR h1 {
    font-size: 1.375em;
    margin: 0 0 0.68em;
    text-align: left;
    line-height: 1.2;
    text-decoration: none;
    color: #2a2928;
    transition: color 150ms, background-color 150ms, border-color 150ms;
}

.dezeR h1:hover{
    color: #ff7c24; 
}

.dezeR a {
    font-size: 0.875em;
    line-height: 1.5em;
    letter-spacing: 0.08em;
    text-decoration: none;
    color: #2a2928;
    border-bottom: 2px solid;
    transition: all 250ms;
}




.dezeR::after{
    content:"";
    clear: both;
    display: table;
}






.akiniai_slaideris {
    overflow: hidden;
    position: relative;
    margin: 10px auto 0 auto;
    height: 500px;
    width: 100%;
    object-position: 0 -500px;
        img {
            display: block;
            margin: 10px auto 0 auto;
            width: 100%;
            height: 500px;
            object-fit: cover;
          }
   
}

.pagefooter {
    padding: 50px 0 0;
}



.pirmas{
    width: 25%;
    height: auto;
    float: left;
    padding: 0 20px 90px;
    text-align: left;
    color: #7e7d7c;
    line-height: 1.5em;
        h6{
         color:#2a2928;
                }
        a{
            display: block;
            margin: 0 0 5px;
            padding: 0;
                    
                }
}

.antras{
    width: 25%;
    height: auto;
    float: left;
    padding: 0 20px 90px;
    text-align: left;
    color: #7e7d7c;
    line-height: 1.2em;
    h6{
        color:#2a2928;
               }
    a{
        display: block;
        margin: 0 0 5px;
        padding: 0;
                
            }

}

.trecias{
    width: 25%;
    height: auto;
    float: left;
    // padding: 0 20px 90px;
    text-align: left;
    color: #7e7d7c;
    line-height: 1.2em;
    h6{
        color:#2a2928;
               }
               a{
                display: block;
                margin: 0 0 5px;
                padding: 0;
                        
                    }

}
.ketvirtas{
    width: 25%;
    height: auto;
    float: left;
    padding: 0 20px 90px;
    text-align: left;
    color: #7e7d7c;
    line-height: 1.2em;
    h6{
        color:#2a2928;
               }
               a{
                display: block;
                margin: 0 0 5px;
                padding: 0;
                        
                    }

}

.pagefooter:after {
    content: "";
    display: block;
    height: 0;
    clear: both;   
}


.container{
    border-top: 1px solid #d3d1d0;
    border-bottom: 1px solid #d3d1d0;
    padding: 30px 0;
    margin-bottom: 10px;
        .soc img {
            width: 20px;
            height: 20px;            
        }
             .soc_list{
                display: inline-block;
                list-style: none;
                margin: 0;
                padding: 0;
             }

}

.end {
    width: 100%;
    height: auto;
    padding: 30px 0 0 30px;
    text-align: left;
}

.endas1{
    width: 50%;
    height: auto;
    float: left;
}

.pay{
    width: 50%;
    height: auto;
    text-align: right;
    padding: 0 40px 0 0;
    float: right;
}