.dezute {
 width: 33.33333%;
 display: inline;

}


/* img {
    width: 200px;
    height: 150px;
    float: left;
    margin: 10px;
    border: 4px solid rgb(175, 243, 17);
} */

p{
text-align:justify;

}
/* .img2 {
    width: 200px;
    height: 150px;
    float: right;
    margin: 10px;

} */

.img3 {
    width: 200px;
    height: 150px;
    float: left;
    margin: 10px;


}
/* 
/* .stop {
    clear: both;
} */
/* 
.row .dezute2 {

}

.row .dezute2 .in{
    float: left;
} */ */